.classButton{
  margin-top: 90px;
    .btn{
      width: 165px;
      border-radius: 8px;
      &:hover{
        color: $primary;
        border-color: $primary;
        background-color: transparent;
      }
  }
}

.classCard{
  margin-bottom: 40px;
  @include lg(){
    margin-bottom: 90px;
  }
  .card{
    border-radius: 24px;
    img{
      width: 100px;
    }
    .card-body{
      max-width: 576px;
    }
    .cardFooter{
      h2{
        font-size: 32px;
      }
    }
    .btn{
      width: 130px;
      border-radius: 8px;
    }
  }
  

}

.footer{
    p{
      font-family: 'Azeret Mono', monospace;
       font-size: 14px;
      color: #909090;
      @include md(){
        font-size: 16px;
      }
    }
  }