@mixin sm{
    @media (min-width: 576px){
        @content
    }
}
@mixin md{
    @media (min-width: 768px){
        @content
    }
}
@mixin lg{
    @media (min-width: 992px){
        @content
    }
}
@mixin custom{
    @media (min-width: 672px){
        @content
    }
} 

@mixin textGradient{
        background-image: linear-gradient(0deg, $primary, $secondary);
        background-clip: text;
        color: transparent;
}

